//- button.button
//-   | Normal button
//- button.button.button--state-success
//-   | Success button
//- button.button.button--state-danger
//-   | Danger button
//- .test 
//-   | v
section.home-banner 
    .swiper-container
        .swiper-wrapper
            .swiper-slide 
                .img 
                    img(src="./img/home-slider1.png", alt="")
                .title 
                    span 
            .swiper-slide 
                .img 
                    img(src="./img/home-slider1.png", alt="")
                .title 
                    span 
            .swiper-slide 
                .img 
                    img(src="./img/home-slider1.png", alt="")
                .title 
                    span 
        .swiper-pagination
    
        //- .swiper-btn-prev
        //-     em.lnr.lnr-chevron-left  
        //- .swiper-btn-next
        //-     em.lnr.lnr-chevron-right