section.su-menh-section#section3
    .container 
        h1.title-h1 tầm nhìn - sứ mệnh - giá trị cốt lõi 
        .row 
            img(src="./img/sumenh-banner.png", alt="")
        .row 
            .col-lg-5 
                img(src="./img/sumenh1.png", alt="")
            .col-lg-7
                .content 
                    h2 Tầm nhìn - Sứ mệnh
                    p Với mục tiêu tạo điều kiện tốt nhất để đội ngũ nhân viên có thể phát huy hết khả năng và sự sáng tạo, Bảo Việt luôn cố gắng để xây dựng môi trường làm việc chuyên nghiệp, năng động và không ngừng hoàn thiện chính sách nhân sự ngày một tốt hơn.
                    p Nhằm khuyến khích và tạo điều kiện tốt nhất cho đội ngũ nhân viên phát triển toàn diện về cả năng lực chuyên môn và các kỹ năng mềm, chúng tôi còn xây dựng một chương trình đào tạo chuyên biệt dành cho đội ngũ nhân viên trong công ty. 
                    h2 Tầm nhìn sứ mệnh
                    ul 
                        li Chất lượng chuyên môn uy tín và dịch vụ khách hàng chu đáo, tận tâm.
                        li Cơ sở vật chất hiện đại, hệ thống trang thiết bị y tế tiên tiến.
                        li Đội ngũ bác sĩ giỏi chuyên môn, giàu y đức.
                


