section.why-wrapper 
    .container
        h1.title-h1 tại sao chọn nha khoa bảo việt
        
        .list-question
            ul
                li.accordion-title
                    p Có nên tẩy trắng răng không?
                    ul.accordion-content
                        li
                            a(href="#") Chỉ định bọc răng sứ trong trường hợp răng bị sâu hoặc vỡ lớn. Trong trường hợp này, dịch vụ trám răng không thể khắc phục được hết nhược điểm và duy trì không bền lâu và dễ dàng bị bong tróc.
                li.accordion-title
                    p Có nên tẩy trắng răng không?
                    ul.accordion-content
                        li
                            a(href="#") Chỉ định bọc răng sứ trong trường hợp răng bị sâu hoặc vỡ lớn. Trong trường hợp này, dịch vụ trám răng không thể khắc phục được hết nhược điểm và duy trì không bền lâu và dễ dàng bị bong tróc.
                li.accordion-title
                    p Có nên tẩy trắng răng không?
                    ul.accordion-content
                        li
                            a(href="#") Chỉ định bọc răng sứ trong trường hợp răng bị sâu hoặc vỡ lớn. Trong trường hợp này, dịch vụ trám răng không thể khắc phục được hết nhược điểm và duy trì không bền lâu và dễ dàng bị bong tróc.
                li.accordion-title
                    p Có nên tẩy trắng răng không?
                    ul.accordion-content
                        li
                            a(href="#") Chỉ định bọc răng sứ trong trường hợp răng bị sâu hoặc vỡ lớn. Trong trường hợp này, dịch vụ trám răng không thể khắc phục được hết nhược điểm và duy trì không bền lâu và dễ dàng bị bong tróc.
                li.accordion-title
                    p Có nên tẩy trắng răng không?
                    ul.accordion-content
                        li
                            a(href="#") Chỉ định bọc răng sứ trong trường hợp răng bị sâu hoặc vỡ lớn. Trong trường hợp này, dịch vụ trám răng không thể khắc phục được hết nhược điểm và duy trì không bền lâu và dễ dàng bị bong tróc.
                li.accordion-title
                    p Có nên tẩy trắng răng không?
                    ul.accordion-content
                        li
                            a(href="#") Chỉ định bọc răng sứ trong trường hợp răng bị sâu hoặc vỡ lớn. Trong trường hợp này, dịch vụ trám răng không thể khắc phục được hết nhược điểm và duy trì không bền lâu và dễ dàng bị bong tróc.
                li.accordion-title
                    p Có nên tẩy trắng răng không?
                    ul.accordion-content
                        li
                            a(href="#") Chỉ định bọc răng sứ trong trường hợp răng bị sâu hoặc vỡ lớn. Trong trường hợp này, dịch vụ trám răng không thể khắc phục được hết nhược điểm và duy trì không bền lâu và dễ dàng bị bong tróc.
                        