section.bang-gia 
    .container 
        h1.title-h1 bảng giá
        p.content Nha Khoa Bảo Việt cung cấp công khai bảng giá chi tiết các dịch vụ tại nha khoa nhằm giúp khách hàng có thể chủ động trong vấn đề tài chính. Khách hàng có thể tham khảo tại đây.
        .table-responsive
            table.table
                thead
                    tr
                        th.noidung(scope='col') Dịch vụ
                        th(scope='col') Đơn vị 
                        th(scope='col') Giá
                tbody 
                    tr 
                        td.cate(colspan="3") Điều trị nha chu và cạo vôi răng
                    tr 
                        td.noidung 01
                        td Nhân viên lắp đặt hệ thống
                        td(title='Số lượng') 01
                    tr 
                        td.noidung 01
                        td Nhân viên lắp đặt hệ thống
                        td(title='Số lượng') 01
                    tr 
                        td.cate(colspan="3") Trám răng
                    tr 
                        td.noidung 01
                        td Nhân viên lắp đặt hệ thống
                        td(title='Số lượng') 01
                    tr 
                        td.noidung 01
                        td Nhân viên lắp đặt hệ thống
                        td(title='Số lượng') 01
                    tr 
                        td.noidung 01
                        td Nhân viên lắp đặt hệ thống
                        td(title='Số lượng') 01
                    tr 
                        td.cate(colspan="3") Điều trị tủy răng
                    