section.tin-tuc-chi-tiet
    .container 
        .row
            .col-lg-9.contain
                h2 Có nên chữa tủy răng khôn số 8 không?
                time 26/07/2019 
                
                p Khi những chiếc răng chẳng may bị viêm tủy thì việc chữa tủy là điều cần thiết nhằm bảo tồn răng thật. Đồng thời, việc này cũng tránh trường hợp phải nhổ bỏ răng và trồng lại răng mới. Nhưng với răng khôn số 8 thì sao? Có nên chữa tủy răng khôn số 8 không khi nó có vấn đề? Cùng Nha Khoa Bảo Việt tìm hiểu vấn đề này qua bài viết dưới đây nhé.
                p 
                    strong Lý do nên chữa tủy răng
                p Mỗi răng đều có phần mô mềm được gọi là tủy răng. Tủy răng bao gồm các hệ thống thần kinh và mạch máu nằm trong các ống tủy chân răng. Chúng có nhiệm vụ dẫn truyền cảm giác và nuôi dưỡng răng. Do đó, đây là bộ phận quan trọng nhất của một chân răng.
                p Thông thường, các răng trước sẽ có từ 1 ống tủy nhưng răng sau thường có nhiều hơn và thậm chí tới 4 ống tủy. Hệ thống ống tủy này phân nhanh rất đa dạng và thay đổi tùy nhóm răng hoặc cơ địa từng người. Đó chính là lý do nên chữa tủy răng.
                p 
                    strong Vậy khi nào nên chữa tủy răng?
                p Việc chữa tủy răng được thực hiện khi được sự chỉ định của bác sĩ. Với các trường hợp tủy răng bị viêm nhiễm, khiến mô tủy bị hoại tử hoặc chết đi. Trong đó, nguyên nhân được xác định là do:
                .img 
                    img(src="./img/tintuc/ct1.png", alt="")
                span.img-des Nguyên nhân viêm nhiễm tủy
                    
                p Hiện nay, có nên chữa tủy răng khôn số 8 không là vấn đề được nhiều người quan tâm và đặt ra khi gặp vấn đề với chiếc răng này.
                p Các bác sĩ nha khoa đầu ngành cho biết, với những trường hợp răng khôn mọc thẳng và đúng vị trí thì việc chữa tủy vẫn có thể được thực hiện nhằm bảo tồn răng thật theo yêu cầu của bệnh nhân.
                .img 
                    img(src="./img/tintuc/ct2.png", alt="")
                p Tuy nhiên, với những chiếc răng khôn số 8 bị viêm tủy thì cách tốt nhất được bác sĩ khuyên áp dụng là nhổ bỏ. Việc này giúp bảo đảm an toàn sức khỏe, tránh được tình trạng đau nhức nếu răng khôn số 8 có xu hướng mọc lệch, mọc ngầm…
                p Thực chất, răng khôn số 8 không có một chức năng cụ thể nào trên cung hàm. Do đó, dù có nhổ bỏ đi cũng sẽ không ảnh hưởng gì tới sức khỏe hay khả năng ăn nhai của người bệnh.
                p Hiện nay, với phương pháp nhổ răng hiện đại, áp dụng bằng công nghệ nhổ răng siêu âm hiện đại bằng những bước sóng siêu âm phù hợp. Nhờ đó, mô và dây chằng xung quanh răng đứt ra dễ dàng và việc nhổ răng diễn ra nhanh chóng, an toàn.


                ul.social-icon
                    li
                        a.twt(href="#")
                            em.fab.fa-twitter
                    li
                        a.fb(href="#")
                            em.fab.fa-facebook-f
                    li
                        a.fax(href="#")
                            em.mdi.mdi-fax

            .col-lg-3.other
                .head
                    h2 tin tức khác
                .list-item
                    .item
                        figure
                            a.img(href="")
                                img(src="./img/tintuc/2.png", alt="")
                            figcaption 
                                a(href="").title 
                                    h3 Nha khoa Bảo Việt tại Sao vàng Doanh nhân Đất Việt
                                time 18.03.2019
                    .item
                        figure
                            a.img(href="")
                                img(src="./img/tintuc/2.png", alt="")
                            figcaption 
                                a(href="").title 
                                    h3 Nha khoa Bảo Việt tại Sao vàng Doanh nhân Đất Việt
                                time 18.03.2019
                    .item
                        figure
                            a.img(href="")
                                img(src="./img/tintuc/2.png", alt="")
                            figcaption 
                                a(href="").title 
                                    h3 Nha khoa Bảo Việt tại Sao vàng Doanh nhân Đất Việt
                                time 18.03.2019
                    .item
                        figure
                            a.img(href="")
                                img(src="./img/tintuc/2.png", alt="")
                            figcaption 
                                a(href="").title 
                                    h3 Nha khoa Bảo Việt tại Sao vàng Doanh nhân Đất Việt
                                time 18.03.2019
                    .item
                        figure
                            a.img(href="")
                                img(src="./img/tintuc/2.png", alt="")
                            figcaption 
                                a(href="").title 
                                    h3 Nha khoa Bảo Việt tại Sao vàng Doanh nhân Đất Việt
                                time 18.03.2019
                    
