section.tin-tuc-chi-tiet
    .container 
        .row
            .col-lg-9.contain
                h2 Agribank Chi nhánh TP. Buôn Ma Thuột – Bắc Đăk Lăk: Tài trợ 120 tỷ đồng cho Dự án Nhà máy điện mặt trời Jang Pông
                time 26/07/2019 
                p 
                    strong Chiều 20-2, Agribank Chi nhánh TP. Buôn Ma Thuột – Bắc Đăk Lăk đã tổ chức ký kết hợp đồng tài trợ vốn tín dụng cho Dự án Nhà máy điện mặt trời Jang Pông – Giai đoạn 1.
                p Theo thỏa thuận được ký kết, Agribank Chi nhánh TP. Buôn Ma Thuột – Bắc Đăk Lăk sẽ tài trợ 120 tỷ đồng để Công ty Cổ phần Đầu tư năng lượng Cao Nguyên đầu tư giai đoạn 1 Dự án Nhà máy điện mặt trời Jang Pông với lãi suất ưu đãi theo quy định.
                .img 
                    img(src="./img/tintuc/ct1.png", alt="")
                span.img-des Nguyên nhân viêm nhiễm tủy
                    
                p Dự án Nhà máy điện mặt trời Jang Pông được xây dựng tại buôn Jang Pông (xã Ea Huar, huyện Buôn Đôn), công suất 30MWp, với tổng mức đầu tư 600 tỷ đồng. Trong đó, giai đoạn 1 có công suất 10MWp, tổng mức đầu tư 200 tỷ đồng, đấu nối vào lưới điện 35kV khu vực Buôn Đôn, dự kiến sẽ vận hành trước ngày 30-6-2019. Giai đoạn 2 dự án có công suất 20MWp, đấu nối chuyển tiếp vào đường dây 110 kV Buôn Đôn – Ea Súp, dự kiến vận hành vào giai đoạn 2020-2021.
                .img 
                    img(src="./img/tintuc/ct2.png", alt="")
                p Đây là dự án điện năng lượng mặt trời thứ hai Agribank Bắc Đăk Lăk tham gia tài trợ vốn tín dụng. Trước đó, Agribank Bắc Đăk Lăk đã cùng với Agribank Chi nhánh Tây Hồ (Hà Nội) tài trợ 950 tỷ đồng cho Dự án nhà máy điện mặt trời Long Thành 1 tại huyện Ea Súp, có công suất 50MWp.
                ul.social-icon
                    li
                        a.twt(href="#")
                            em.fab.fa-twitter
                    li
                        a.fb(href="#")
                            em.fab.fa-facebook-f
                    li
                        a.fax(href="#")
                            em.mdi.mdi-fax

            .col-lg-3.other
                .head
                    h2 tin tức khác
                .list-item
                    .item
                        figure
                            a.img(href="")
                                img(src="./img/tintuc/2.png", alt="")
                            figcaption 
                                a(href="").title 
                                    h3 Nha khoa Bảo Việt tại Sao vàng Doanh nhân Đất Việt
                                time 18.03.2019
                    .item
                        figure
                            a.img(href="")
                                img(src="./img/tintuc/2.png", alt="")
                            figcaption 
                                a(href="").title 
                                    h3 Nha khoa Bảo Việt tại Sao vàng Doanh nhân Đất Việt
                                time 18.03.2019
                    .item
                        figure
                            a.img(href="")
                                img(src="./img/tintuc/2.png", alt="")
                            figcaption 
                                a(href="").title 
                                    h3 Nha khoa Bảo Việt tại Sao vàng Doanh nhân Đất Việt
                                time 18.03.2019
                    .item
                        figure
                            a.img(href="")
                                img(src="./img/tintuc/2.png", alt="")
                            figcaption 
                                a(href="").title 
                                    h3 Nha khoa Bảo Việt tại Sao vàng Doanh nhân Đất Việt
                                time 18.03.2019
                    .item
                        figure
                            a.img(href="")
                                img(src="./img/tintuc/2.png", alt="")
                            figcaption 
                                a(href="").title 
                                    h3 Nha khoa Bảo Việt tại Sao vàng Doanh nhân Đất Việt
                                time 18.03.2019
                    
