section.tintuc
    .container
        h1.title-h1 hoạt động xã hội
        .container 
            .row.list-tintuc
                .col-12.col-lg-4.item
                    figure 
                        a(href="").img 
                            img(src="./img/tintuc1.png", alt="")
                        figcaption 
                            time 26/07/2019
                            a.title(href="#")
                                h3 Nha khoa Bảo Việt tổ chức thăm khám nha khoa miễn phí tại Cần Thơ
                            p Ngày 20 tháng 08 năm 2019, Nha Khoa Bảo Việt đã tổ chức thăm khám nha khoa miễn phí tại thành phố Cần Thơ.
                .col-12.col-lg-4.item
                    figure 
                        a(href="").img 
                            img(src="./img/tintuc2.png", alt="")
                        figcaption 
                            time 26/07/2019
                            a.title(href="#") 
                                h3 Nha khoa Bảo Việt tài trợ học bổng cho học sinh nghèo trường THCS Bình Thọ
                            p Nhân dịp quốc tế thiếu nhi, nha khoa Bảo Việt đã tổ chức chương trình tài trợ học bổng cho học sinh nghèo trường THCS...
                .col-12.col-lg-4.item
                    figure 
                        a(href="").img 
                            img(src="./img/tintuc3.png", alt="")
                        figcaption 
                            time 26/07/2019
                            a.title(href="#") 
                                h3 Chương trình nha khoa học đường tại trường THCS Nguyễn Du
                            p Nha khoa Bảo Việt tổ chức chương trình nha khoa học đường tại trường THCS Nguyễn Du
            .button-view
                a(href="").viewall
                    span Xem tất cả
                        em.mdi.mdi-arrow-right