section.tuyen-dung-td-1
    .container 
        h1.title-h1 tuyển dụng
        .box.box--1
            .box__img
                .img 
                    img(src="./img/tuyendung1.png", alt="")
            .box__content 
                .content 
                    h2 Môi trường làm việc
                    .briefcontent
                        p Trung tâm Nha Khoa Bảo Việt là 1 trong những trung tâm nha khoa uy tín tại TPHCM. Hệ thống nha khoa Bảo Việt gồm 2 cơ sở tại Thủ Đức, Q9 với cơ sở vật chất, trang thiết bị hiện đại bậc nhất Việt Nam.
                        p Chiến lược phát triển thành viên của Bảo Việt Dental được đánh giá là bài bản và tập trung vào chất lượng. Đội ngũ nhân viên, bác sĩ được tham dự những chuyến du lịch hội nghị sang trọng, đẳng cấp, được huấn luyện với những chương trình có nội dung độc đáo, bứt phá và bùng nổ dưới sự giảng dạy và chia sẻ từ các chuyên gia hàng đầu thế giới.
                        p Bên cạnh đó, đội ngũ của Bảo Việt còn được đào tạo để trở thành “Nhân viên 3 tốt”. Sau khi được đào tạo chuyên môn, đội ngũ nhân viên có thể thẩm định sơ bộ và lên yêu cầu kiểm tra y tế ngay khi phân tích, tư vấn nhu cầu khách hàngnhân viên tại Bảo Việt Dental thăng hoa chính là sự hỗ trợ tối đa về công nghệ số hiện đại, sản phẩm đột phá và thương hiệu khác biệt. Trong đó, toàn bộ trải nghiệm của khách hàng với Bảo Việt đã hoàn toàn được số hóa, từ khâu phân tích nhu cầu, tư vấn, thực hiện, theo dõi và chăm sóc đều được thực hiện trên nền tảng kỹ thuật số.

        .box.box--2
            .box__content
                .content 
                    h2 Chính sách nhân sự
                    p Với mục tiêu tạo điều kiện tốt nhất để đội ngũ nhân viên có thể phát huy hết khả năng và sự sáng tạo, Bảo Việt luôn cố gắng để xây dựng môi trường làm việc chuyên nghiệp, năng động và không ngừng hoàn thiện chính sách nhân sự ngày một tốt hơn.
                    p Nhằm khuyến khích và tạo điều kiện tốt nhất cho đội ngũ nhân viên phát triển toàn diện về cả năng lực chuyên môn và các kỹ năng mềm, chúng tôi còn xây dựng một chương trình đào tạo chuyên biệt dành cho đội ngũ nhân viên trong công ty. 
                    h2 Chính sách nhân sự
                    p 
                        strong Tăng lương: 
                        | Định kỳ xét tăng lương theo định kỳ 1 năm/lần. Thời gian xét tăng lương từ đầu năm. Tỷ lệ xét tăng lương dựa trên hiệu quả làm việc của năm trước đó.
                    p 
                        strong Thưởng quý: 
                        | Hằng quý dựa trên kết quả đánh giá KPI, công ty sẽ khen thưởng cho các cá nhân và tập thể có thành tích làm việc tốt, ngoài ra công ty còn vinh danh và trao bằng khen cho các thành tích trong kỳ. 
            .box__img
                .img 
                    img(src="./img/tuyendung2.png", alt="")