section.gioi-thieu 
    .container
        h1.title-h1 giới thiệu nha khoa bảo việt
        .gioithieu.gioithieu--box1(setBackground='./img/gioithieu-bg.png')
            .row 
                .col-6 
                    h2 Vì sao chọn chúng tôi
                    ul.content 
                        li Cơ sở vật chất hiện đại, khang trang
                        li Trang thiết bị máy móc bậc nhất
                        li Đội ngũ bác sĩ chuyên môn, giàu kinh nghiệm
                        li  Đa dạng các dịch vụ đa khoa chuyên nghiệp
                    a(href="").button-viewmore Xem thêm 
                        em.mdi.mdi-arrow-right
        .gioithieu.gioithieu--box2(setBackground='./img/gioithieu-bg2.png')
            .row 
                .col-6 
                    h2 Kết quả đạt được
                    .list-item 
                        .item
                            p 100% 
                            span Khách hàng hài lòng
                        .item
                            p 1000+
                            span Khách hàng/ năm
                        .item
                            p 100+
                            span Đội ngũ y bác sĩ
                        .item
                            p 10
                            span Năm kinh nghiệm
                        
