section.cau-chuyen-khach-hang-chi-tiet
    .container 
        .row.chi-tiet
            .info.col-lg-3
                a(href="").img
                    img(src="./img/khachhang.png", alt="")
                p.title Triều Tiên
                span Giáo viên
            .content.col-lg-9
                em.mdi.mdi-format-quote-open.quote
                h2 “Thay áo mới” cho hàm răng tỏa sáng
                p Mình sợ niềng răng sẽ rất đau và không ăn được gì, được người quen giới thiệu tới Nha Khoa Bảo Việt, bác sĩ Bảo tư vấn tận tình nên mình quyết định niềng răng. Lúc đầu chưa quen cũng khá đau nhưng chỉ 5 ngày sau mình thấy đỡ hẳn. Nhân viên phòng khám phục vụ rất chuyên nghiệp. Like Nha Khoa Bảo Việt nha
                a(href="https://www.youtube.com/watch?v=ON0oC4UyZwk" data-fancybox="video").video
                    .img 
                        img(src="./img/video.png", alt="")
                        .button-play
                            img(src="./img/play.png", alt="")
            