section.slider-wrapper 
    .container 
        h1.title-h1 niềng răng 
        .row
            .col-lg-6
                .services-top-wrapper
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .swiper-image
                                    img(src="./img/ct-dv.png", alt="")
                                    .button-play
                                        img(src="./img/play.png", alt="")
                            .swiper-slide
                                .swiper-image
                                    img(src="./img/ct-dv.png", alt="")
                                    .button-play
                                        img(src="./img/play.png", alt="")
                            .swiper-slide
                                .swiper-image
                                    img(src="./img/ct-dv.png", alt="")
                                    .button-play
                                        img(src="./img/play.png", alt="")
                            .swiper-slide
                                .swiper-image
                                    img(src="./img/ct-dv.png", alt="")
                                    .button-play
                                        img(src="./img/play.png", alt="")
                            .swiper-slide
                                .swiper-image
                                    img(src="./img/ct-dv.png", alt="")
                                    .button-play
                                        img(src="./img/play.png", alt="")
                .services-thumbs-wrapper
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .swiper-image
                                    img(src="./img/ct-dv.png", alt="")
                                    .button-play
                                        img(src="./img/play.png", alt="")
                            .swiper-slide
                                .swiper-image
                                    img(src="./img/ct-dv.png", alt="")
                                    .button-play
                                        img(src="./img/play.png", alt="")
                            .swiper-slide
                                .swiper-image
                                    img(src="./img/ct-dv.png", alt="")
                                    .button-play
                                        img(src="./img/play.png", alt="")
                            .swiper-slide
                                .swiper-image
                                    img(src="./img/ct-dv.png", alt="")
                                    .button-play
                                        img(src="./img/play.png", alt="")
                    .swiper-btn-next
                        em.mdi.mdi-chevron-right
                    .swiper-btn-prev
                        em.mdi.mdi-chevron-left
            .col-lg-6 
                .content
                    h3 Tổng quan
                    p Hàm răng mọc lệch lạc, răng hô, răng móm, răng thưa là nhược điểm của nhiều người, khiến bạn thiếu tự tin và ngại cười lớn khi cười. Do đó nhu cầu niềng răng của những người không may sở hữu hàm răng này ngày càng lớn. Tuy nhiên vì lo ngại về chi phí niềng răng mà rất nhiều người muốn thực hiện dịch vụ thẩm mỹ này lại phải suy nghĩ đắn đo, thậm chí là chấp nhận sống với khuyết điểm này suốt đời.
                    p Nhận thấy nhu cầu hiện nay của khách hàng quá lớn, Trung tâm Nha khoa Bảo Việt thực hiện chương trình “NIỀNG RĂNG TRẢ GÓP 0%” nhằm mong muốn với dịch vụ điều trị thẩm mỹ này sẽ bỏ mọi rào cản về chi phí niềng răng cho tất cả mọi người.
                    h3 Niềng răng trả góp 0 đồng từ 6 tháng  đến 2 năm tại nha khoa bảo việt
                    p Trung tâm Nha khoa Bảo Việt là một trong những địa chỉ nha khoa uy tín tại quận 9 và quận Thủ Đức. Với đội ngũ bác sỹ giàu kinh nghiệm đã thực hiện rất nhiều ca chỉnh nha thành công.
                    p Trung tâm Nha khoa Bảo Việt là một trong những địa chỉ nha khoa uy tín tại quận 9 và quận Thủ Đức. Với đội ngũ bác sỹ giàu kinh nghiệm đã thực hiện rất nhiều ca chỉnh nha thành công.