section.partners-section 
    .container 
        h1.title-h1 chứng nhận - giải thưởng
        .partners-wrapper
            .swiper-container 
                .swiper-wrapper 
                    .swiper-slide 
                        .img 
                            img(src="./img/doitac/1.png", alt="")
                    .swiper-slide 
                        .img 
                            img(src="./img/doitac/2.png", alt="")
                    .swiper-slide 
                        .img 
                            img(src="./img/doitac/3.png", alt="")
                    .swiper-slide 
                        .img 
                            img(src="./img/doitac/4.png", alt="")
                    .swiper-slide 
                        .img 
                            img(src="./img/doitac/5.png", alt="")
                    .swiper-slide 
                        .img 
                            img(src="./img/doitac/6.png", alt="")
                    .swiper-slide 
                        .img 
                            img(src="./img/doitac/7.png", alt="")
                    .swiper-slide 
                        .img 
                            img(src="./img/doitac/8.png", alt="")
                    .swiper-slide 
                        .img 
                            img(src="./img/doitac/9.png", alt="")
                    .swiper-slide 
                        .img 
                            img(src="./img/doitac/10.png", alt="")
                    .swiper-slide 
                        .img 
                            img(src="./img/doitac/11.png", alt="")
                    .swiper-slide 
                        .img 
                            img(src="./img/doitac/12.png", alt="")
            .partners-btn-next
                em.mdi.mdi-chevron-right
            .partners-btn-prev
                em.mdi.mdi-chevron-left