section.history-section#b
    .container 
        h1.title-h1 lịch sử phát triển 
        .history-wrapper 
            .tab-img
                .img 
                    img(src="./img/lichsu-banner.png", alt="")
            .tab-navigation 
                .swiper-container 
                    .swiper-wrapper 
                        .swiper-slide
                            a(href="javascript:void(0)" data-type="tab-1").date.active 
                                h4 2007
                        .swiper-slide
                            a(href="javascript:void(0)" data-type="tab-2").date 
                                h4 2008
                        .swiper-slide
                            a(href="javascript:void(0)" data-type="tab-3").date 
                                h4 2009
                        .swiper-slide
                            a(href="javascript:void(0)" data-type="tab-4").date 
                                h4 2010
                        .swiper-slide
                            a(href="javascript:void(0)" data-type="tab-5").date 
                                h4 2011
                    .history-btn-next 
                        em.lnr.lnr-arrow-right
                    .history-btn-prev    
                        em.lnr.lnr-arrow-left
            .tab-content#tab-1.active
                .content 
                    h2 năm 2014 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga adipisci minus ea tenetur numquam ab quibusdam maiores iure incidunt deleniti voluptatum dolore ut itaque, eius ducimus repudiandae dolorem nemo animi.
            .tab-content#tab-2
                .content 
                    h2 năm 2017
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga adipisci minus ea tenetur numquam ab quibusdam maiores iure incidunt deleniti voluptatum dolore ut itaque, eius ducimus repudiandae dolorem nemo animi.
            