extends _layout.pug

block var
	- var title = 'Bảng giá'
	- var bodyClass = 'Ban-gia-page'

block main
	include ../components/hoi-dap/banner/index.pug
	include ../components/hoi-dap/breadcrumb/index.pug
	include ../components/bang-gia/index.pug
	



