extends _layout.pug

block var
	- var title = 'chi tiết dịch vụ'
	- var bodyClass = 'chi-tiet-dich-vu-page'

block main
	include ../components/hoi-dap/banner/index.pug
	include ../components/hoi-dap/breadcrumb/index.pug
	include ../components/chi-tiet-dich-vu/slider/index.pug
	include ../components/chi-tiet-dich-vu/dich-vu/index.pug
	include ../components/chi-tiet-dich-vu/why/index.pug
	include ../components/chi-tiet-dich-vu/quy-trinh/index.pug
	include ../components/chi-tiet-dich-vu/lien-he/index.pug
	include ../components/chi-tiet-dich-vu/dich-vu-khac/index.pug

	



