extends _layout.pug

block var
	- var title = 'Dịch vụ'
	- var bodyClass = 'Dich-vu-page'

block main
	include ../components/hoi-dap/banner/index.pug
	include ../components/hoi-dap/breadcrumb/index.pug
	.dich-vu-chung-toi
		include ../components/home/h-3/index.pug
	



