extends _layout.pug

block var
	- var title = 'Giới thiệu'
	- var bodyClass = 'gioi-thieu-page'

block main
	include ../components/hoi-dap/banner/index.pug
	include ../components/hoi-dap/breadcrumb/index.pug
	include ../components/gioi-thieu/nav/index.pug
	include ../components/gioi-thieu/gioi-thieu/index.pug
	include ../components/gioi-thieu/lich-su/index.pug
	include ../components/gioi-thieu/su-menh/index.pug
	include ../components/gioi-thieu/giai-thuong/index.pug
	include ../components/gioi-thieu/doi-ngu/index.pug
	include ../components/gioi-thieu/may-moc/index.pug
	include ../components/gioi-thieu/doi-tac/index.pug





    
	