extends _layout.pug

block var
	- var title = 'thư viện ảnh'
	- var bodyClass = 'thu-vien-anh-page'

block main
	include ../components/hoi-dap/banner/index.pug
	include ../components/hoi-dap/breadcrumb/index.pug
	include ../components/thuvienanh/index.pug
	



