extends _layout.pug

block var
    - var title = 'Tuyển dụng chi tiết'
    - var bodyClass = 'Tuyen-dung-chi-tiet-page'

block main
    include ../components/hoi-dap/banner/index.pug
    include ../components/hoi-dap/breadcrumb/index.pug
    include ../components/tuyen-dung-chi-tiet/index.pug
    

	
	



