extends _layout.pug

block var
    - var title = 'Tuyển dụng'
    - var bodyClass = 'Tuyen-dung-page'

block main
    include ../components/hoi-dap/banner/index.pug
    include ../components/hoi-dap/breadcrumb/index.pug
    include ../components/tuyen-dung/td-1/index.pug
    include ../components/tuyen-dung/td-2/index.pug
    include ../components/tuyen-dung/td-3/index.pug

	
	



