section.services-other 
    .container 
        h1.title-h1 dịch vị khác
        .services-other-wrapper
            .swiper-container 
                .swiper-wrapper 
                    .swiper-slide 
                        a.item(href="")
                            figure
                                img.svg(src='./img/dv1.png')
                                figcaption
                                    p Trồng răng
                    .swiper-slide 
                        a.item(href="")
                            figure
                                img.svg(src='./img/dv1.png')
                                figcaption
                                    p Trồng răng
                    .swiper-slide 
                        a.item(href="")
                            figure
                                img.svg(src='./img/dv1.png')
                                figcaption
                                    p Trồng răng
                    .swiper-slide 
                        a.item(href="")
                            figure
                                img.svg(src='./img/dv1.png')
                                figcaption
                                    p Trồng răng
                    .swiper-slide 
                        a.item(href="")
                            figure
                                img.svg(src='./img/dv1.png')
                                figcaption
                                    p Trồng răng
                    .swiper-slide 
                        a.item(href="")
                            figure
                                img.svg(src='./img/dv1.png')
                                figcaption
                                    p Trồng răng
                    .swiper-slide 
                        a.item(href="")
                            figure
                                img.svg(src='./img/dv1.png')
                                figcaption
                                    p Trồng răng
                    .swiper-slide 
                        a.item(href="")
                            figure
                                img.svg(src='./img/dv1.png')
                                figcaption
                                    p Trồng răng
            .sv-other-btn-next
                em.mdi.mdi-chevron-right
            .sv-other-btn-prev
                em.mdi.mdi-chevron-left
            