section.cau-chuyen-khach-hang
    .container 
        h1.title-h1 khách hàng của chúng tôi
        .list-item 
            .row 
                .col-lg-6 
                    .item 
                        .info
                            a(href="").img
                                img(src="./img/khachhang.png", alt="")
                            p.title Triều Tiên
                            span Giáo viên
                        .content
                            em.mdi.mdi-format-quote-open.quote
                            p Mình sợ niềng răng sẽ rất đau và không ăn được gì, được người quen giới thiệu tới Nha Khoa Bảo Việt, bác sĩ Bảo tư vấn tận tình nên mình quyết định niềng răng. Lúc đầu chưa quen cũng khá đau nhưng chỉ 5 ngày sau mình thấy đỡ hẳn. Nhân viên phòng khám phục vụ rất chuyên nghiệp. Like Nha Khoa Bảo Việt nha
                            .button-view
                                a(href="").viewall
                                    span Xem tất cả
                                        em.mdi.mdi-arrow-right
                .col-lg-6 
                    .item 
                        .info
                            a(href="").img
                                img(src="./img/khachhang.png", alt="")
                            p.title Triều Tiên
                            span Giáo viên
                        .content
                            em.mdi.mdi-format-quote-open.quote
                            p Mình sợ niềng răng sẽ rất đau và không ăn được gì, được người quen giới thiệu tới Nha Khoa Bảo Việt, bác sĩ Bảo tư vấn tận tình nên mình quyết định niềng răng. Lúc đầu chưa quen cũng khá đau nhưng chỉ 5 ngày sau mình thấy đỡ hẳn. Nhân viên phòng khám phục vụ rất chuyên nghiệp. Like Nha Khoa Bảo Việt nha
                            .button-view
                                a(href="").viewall
                                    span Xem tất cả
                                        em.mdi.mdi-arrow-right
                .col-lg-6 
                    .item 
                        .info
                            a(href="").img
                                img(src="./img/khachhang.png", alt="")
                            p.title Triều Tiên
                            span Giáo viên
                        .content
                            em.mdi.mdi-format-quote-open.quote
                            p Mình sợ niềng răng sẽ rất đau và không ăn được gì, được người quen giới thiệu tới Nha Khoa Bảo Việt, bác sĩ Bảo tư vấn tận tình nên mình quyết định niềng răng. Lúc đầu chưa quen cũng khá đau nhưng chỉ 5 ngày sau mình thấy đỡ hẳn. Nhân viên phòng khám phục vụ rất chuyên nghiệp. Like Nha Khoa Bảo Việt nha
                            .button-view
                                a(href="").viewall
                                    span Xem tất cả
                                        em.mdi.mdi-arrow-right
                .col-lg-6 
                    .item 
                        .info
                            a(href="").img
                                img(src="./img/khachhang.png", alt="")
                            p.title Triều Tiên
                            span Giáo viên
                        .content
                            em.mdi.mdi-format-quote-open.quote
                            p Mình sợ niềng răng sẽ rất đau và không ăn được gì, được người quen giới thiệu tới Nha Khoa Bảo Việt, bác sĩ Bảo tư vấn tận tình nên mình quyết định niềng răng. Lúc đầu chưa quen cũng khá đau nhưng chỉ 5 ngày sau mình thấy đỡ hẳn. Nhân viên phòng khám phục vụ rất chuyên nghiệp. Like Nha Khoa Bảo Việt nha
                            .button-view
                                a(href="").viewall
                                    span Xem tất cả
                                        em.mdi.mdi-arrow-right
                .col-lg-6 
                    .item 
                        .info
                            a(href="").img
                                img(src="./img/khachhang.png", alt="")
                            p.title Triều Tiên
                            span Giáo viên
                        .content
                            em.mdi.mdi-format-quote-open.quote
                            p Mình sợ niềng răng sẽ rất đau và không ăn được gì, được người quen giới thiệu tới Nha Khoa Bảo Việt, bác sĩ Bảo tư vấn tận tình nên mình quyết định niềng răng. Lúc đầu chưa quen cũng khá đau nhưng chỉ 5 ngày sau mình thấy đỡ hẳn. Nhân viên phòng khám phục vụ rất chuyên nghiệp. Like Nha Khoa Bảo Việt nha
                            .button-view
                                a(href="").viewall
                                    span Xem tất cả
                                        em.mdi.mdi-arrow-right
                