header 
    .header-top 
        .container.header-top-wrapper
            .header-top__hotro 
                nav
                    li 
                        em.lnr.lnr-phone
                        span 028 2246 8333
                    li 
                        
                        em.lnr.lnr-envelope
                        span info@nhakhoabaoviet.com.vn 
                    li 
                        em.lnr.lnr-users
                        span Hỗ trợ khách hàng 
            .header-top__language 
                .language-wrapper
                    .language-active
                        p VN
                        em.lnr.lnr-chevron-down
                    .language-list
                        a(href="#").language-item EN
                        a(href="#").language-item EN
    .container
        .main-wrapper
            a(href="/").brand 
                img(src="./img/logo.png", alt="logo")
            .main-menu
                ul 
                    li
                        a(href="") Giới thiệu
                    li
                        a(href="") Dịch vụ nha khoa
                    li
                        a(href="") Bảng giá
                    li
                        a(href="") Câu chuyện khách hàng
                    li
                        a(href="") Tin tức & sự kiện
                    li
                        a(href="") Tuyển dụng 
                    li
                        a(href="") Liên hệ
            a(href="javascript:void(0)").searchbutton
                em.mdi.mdi-magnify
            .toggle-button
                .button
            .searchbox 
                input(type="text" placeholder="Tìm kiếm") 
                a(href="").searchbutton
                    em.mdi.mdi-magnify
        .back-drop 
        .mobile-wrapper
        .list-hotro 
            li
                a(href="") 
                    em.mdi.mdi-alarm
                    | Đặt lịch hẹn 
            li 
                a(href="")
                    em.mdi.mdi-map-marker
                    | Hệ thống nha khoa 
            li 
                a(href="") 
                    em.mdi.mdi-phone
                    | 028 2246 8333
