section.may-moc-section 
    .container 
        h1.title-h1 cơ sở vật chất hiện đại - trang thiết bị máy móc tiên tiến 
        .wrapper 
            .row 
                .col-lg-6
                    .content 
                        h2 Cơ sở vật chất hiện đại
                        p Với không gian thoáng đãng cùng hệ thống nội thất tiện nghi, sang trọng, được thiết kế riêng biệt trong nha khoa, khách hàng sẽ luôn có cảm giác thoải mái, dễ chịu khi đến Nha khoa Bảo Việt.
                        p Mỗi khách hàng khi đến thăm khám đều được trang bị 1 bộ tay khoan và bộ dụng cụ riêng biệt. Luôn đảm bảo tính vô trùng theo tiêu chuẩn của Sở Y tế, nhằm hạn chế đến mức thấp nhất tình trạng lây nhiễm chéo 
                        h2 Trang thiết bị máy móc tân tiến
                        p Là đơn vị tiên phong trong việc đầu tư trang thiết bị, máy móc hiện đại theo tiêu chuẩn Sở Y tế. Nha khoa Bảo Việt kế thừa tất cả các thành tựu nổi bật của ngành nha khoa: công nghệ chụp phim CT Cone Beam 3D, chụp X Quang kỹ thuật số kết hợp với đầu nối Sensor thế hệ mới, phần mềm phân tích hàm mặt, công nghệ tẩy trắng răng Laser Whitening,… và những vật liệu cấy ghép được nhập khẩu từ Mỹ, Anh.
                        p Không chỉ vậy, Bảo Việt còn sở hữu hệ thống phòng tiểu phẫu hiện đại, phòng hậu phẫu tiện nghi, phòng vô trùng trang bị hấp dụng cụ chỉ thị màu tiên tiến. Đảm bảo tính an toàn, mang đến kết quả tối ưu cho khách hàng.

                .col-lg-6
                    .may-moc-top-wrapper
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    a(href="" data-fancybox="video").swiper-image
                                        img(src="./img/maymoc1.png", alt="")
                                .swiper-slide
                                    a(href="" data-fancybox="video").swiper-image
                                        img(src="./img/maymoc2.png", alt="")
                                .swiper-slide
                                    a(href="" data-fancybox="video").swiper-image
                                        img(src="./img/maymoc2.png", alt="")
                                .swiper-slide
                                    a(href="" data-fancybox="video").swiper-image
                                        img(src="./img/maymoc2.png", alt="")
                                .swiper-slide
                                    a(href="" data-fancybox="video").swiper-image
                                        img(src="./img/maymoc2.png", alt="")
                    .may-moc-thumbs-wrapper
                        .swiper-container
                            .swiper-wrapper
                                .swiper-slide
                                    .swiper-image
                                        img(src="./img/maymoc2.png", alt="")
                                .swiper-slide
                                    .swiper-image
                                        img(src="./img/maymoc2.png", alt="")
                                .swiper-slide
                                    .swiper-image
                                        img(src="./img/maymoc2.png", alt="")
                                .swiper-slide
                                    .swiper-image
                                        img(src="./img/maymoc2.png", alt="")
                        .swiper-btn-next
                            em.mdi.mdi-chevron-right
                        .swiper-btn-prev
                            em.mdi.mdi-chevron-left
