section.tuyen-dung-td-3 
    .container 
        h1.title-h1 danh sách tuyển dụng 
        .table-responsive
            table.table
                thead
                    tr
                        th(scope='col') Stt
                        th.noidung(scope='col') Vị trí công việc
                        th(scope='col') Số lượng
                        th(scope='col') Nơi làm việc
                        th(scope='col') Ngày đăng 
                        th(scope='col') Ngày hết hạn
                tbody 
                    tr 
                        td 01
                        td.noidung Nhân viên lắp đặt hệ thống
                        td(title='Số lượng') 01
                        td(title='Nơi làm việc') Tp. Hồ Chí Minh
                        td(title='Ngày đăng') 30/05/2019
                        td(title='Ngày hết hạn') 30/05/2019
                    tr 
                        td 02
                        td.noidung Nhân viên lắp đặt hệ thống
                        td(title='Số lượng') 01
                        td(title='Nơi làm việc') Tp. Hồ Chí Minh
                        td(title='Ngày đăng') 30/05/2019
                        td(title='Ngày hết hạn') 30/05/2019
                    tr 
                        td 03
                        td.noidung Nhân viên lắp đặt hệ thống
                        td(title='Số lượng') 01
                        td(title='Nơi làm việc') Tp. Hồ Chí Minh
                        td(title='Ngày đăng') 30/05/2019
                        td(title='Ngày hết hạn') 30/05/2019
                    tr 
                        td 04
                        td.noidung Nhân viên lắp đặt hệ thống
                        td(title='Số lượng') 01
                        td(title='Nơi làm việc') Tp. Hồ Chí Minh
                        td(title='Ngày đăng') 30/05/2019
                        td(title='Ngày hết hạn') 30/05/2019
                    
                