
section.thuvien
    .container 
        h1.title-h1 thư viện ảnh

        .row.gallery-img
            .col-sm-12.col-lg-6.left
                .row.big 
                    .item
                        a(href="./img/thuvien1.png" data-fancybox="image")
                            figure
                                a(href="#").button-search 
                                    em.mdi.mdi-magnify
                                .image
                                    img(src="./img/thuvien1.png", alt="alt")
                                figcaption
                                    h3 Album1
                                    
                .row.small
                    .col-6
                        .item
                            a(href="./img/thuvien1.png" data-fancybox="image")
                                figure
                                    a(href="#").button-search 
                                        em.mdi.mdi-magnify
                                    .image
                                        img(src="./img/thuvien1.png", alt="alt")
                                    figcaption
                                        h3 Album1
                    .col-6 
                        .item
                            a(href="./img/thuvien1.png" data-fancybox="image")
                                figure
                                    a(href="#").button-search 
                                        em.mdi.mdi-magnify
                                    .image
                                        img(src="./img/thuvien1.png", alt="alt")
                                    figcaption
                                        h3 Album1
            .col-sm-12.col-lg-6.right
                .row.small
                    .col-6 
                        .item
                            a(href="./img/thuvien1.png" data-fancybox="image")
                                figure
                                    a(href="#").button-search 
                                        em.mdi.mdi-magnify
                                    .image
                                        img(src="./img/thuvien1.png", alt="alt")
                                    figcaption
                                        h3 Album1
                    .col-6 
                        .item
                            a(href="./img/thuvien1.png" data-fancybox="image")
                                figure
                                    a(href="#").button-search 
                                        em.mdi.mdi-magnify
                                    .image
                                        img(src="./img/thuvien1.png", alt="alt")
                                    figcaption
                                        h3 Album1
                .row.big 
                    .item
                        a(href="./img/thuvien1.png" data-fancybox="image")
                            figure
                                a(href="#").button-search 
                                    em.mdi.mdi-magnify
                                .image
                                    img(src="./img/thuvien1.png", alt="alt")
                                figcaption
                                    h3 Album1
            