section.chitiet-tuyendung 
    .container 
        .row 
            .col-lg-9.contain
                h3 Công nhân vận hành nhà máy điện mặt trời  
                p 
                    strong Cơ hội nghề nghiệp 
                p 
                    span CÔNG TY CỔ PHẦN ĐẦU TƯ NĂNG LƯỢNG CAO NGUYÊN 
                    |có trụ sở tại Tp Buôn Ma Thuột, tỉnh Đắk Lắk đang tìm kiếm ứng viên có năng lực và kinh nghiệm cho vị trí:
                table.table 
                    tr 
                        td.title Vị trí tuyển dụng 
                        td Công nhân vận hành nhà máy điện mặt trời 
                    tr 
                        td.title Số lượng 
                        td 04 
                //- p 
                //-     strong Hồ sơ dự tuyển 
                //- p 
                //-     ul
                //-         li 
                //-             p Phiếu đăng ký dự tuyển lao động: thực hiện theo mẫu số 4 Thông tư 23/2014/TT BLĐTBXH ngày 29/8/2014 (chỉ kê khai đầy đủ thông tin file word theo mẫu, không cần dán ảnh); 
                //-         li 
                //-             p Sơ yếu lý lịch (chỉ kê khai đầy đủ thông tin file word theo mẫu, không cần dán ảnh);
                //-         li 
                //-             p Bằng tốt nghiệp nghề, bảng điểm quá trình học tập, các chứng chỉ khác (bản scan); - Chứng minh nhân dân (bản scan); 
                p 
                    strong Mô tả công việc 
                p  Thực hiện khám, tư vấn và điều trị về răng hàm mặt cho khách hàng : Điều trị tổng quát, phục hình cố định, phục hình tháo lắp…
                p
                    strong Quyền lợi được hưởng:
                    ul
                        li 
                            p Đảm bảo công việc ổn định lâu dài, sẽ được đào tạo bài bản chuyên sâu tại Nha Khoa Bảo Việt
                        li 
                            p Môi trường làm việc tốt, chuyên nghiệp , có cơ hội phát triển bản thân 
                        li 
                            p Được đi du lịch hàng năm do cty tổ chức
                        li 
                            p Lương: Thoả thuận (theo trình độ chuyên môn và năng lực)
                        li 
                            p Chế độ phúc lợi tốt, BHXH đầy đủ
                        li 
                            p Thời gian làm việc: Nhân Viên toàn thời gian: 8h/ ngày, tuần làm 6 ngày
                .deadline
                    p Hạn nộp hồ sơ:
                        span 23/10/2019
                .button 
                    a.button-ungtuyen Ứng tuyển
                    p Hoặc
                    a.button-down 
                        em.lnr.lnr-download
                        | Tải mẫu đơn xin việc
            .col-lg-3.other
                .head
                    h2 tuyển dụng khác
                ul.list-item
                    li
                        time 27/07/2019
                        a.title(href="#") 
                            h4 Nhân viên bảo trị hệ thống điện
                    li
                        time 27/07/2019
                        a.title(href="#") 
                            h4 Nhân viên bảo trị hệ thống điện
                    li
                        time 27/07/2019
                        a.title(href="#") 
                            h4 Nhân viên bảo trị hệ thống điện
                    li
                        time 27/07/2019
                        a.title(href="#") 
                            h4 Nhân viên bảo trị hệ thống điện
                    
                        


