footer(setBackground="./img/footer-bg.png")
    .footer-wrapper 
        .container 
            .row 
                .col-md-4
                    nav
                        h3.h3 nha khoa bảo việt
                        p Trung tâm Nha khoa Bảo Việt tự hào là một trong số ít đơn vị đi đầu trong lĩnh vực nha khoa thẩm mỹ.
                        .call 
                            span
                                em.mdi.mdi-cellphone
                                |098 409 153
                        table.table 
                            h4 giờ mở cửa
                            tr 
                                td.title Thứ 2 - Thứ 7
                                td 08:00 - 20:00
                            tr 
                                td.title Chủ nhật
                                td 08:00 - 17:00
                            tr 
                                td.title Ngày lễ
                                td Nghỉ
                .col-md-3
                    nav.diachi
                        h3.h3--lh liên hệ chúng tôi
                        li
                            h4.h4--no-pt cơ sở 1
                            .lh
                                em.mdi.mdi-map-marker
                                p 20 – 22 Lê Văn Việt, Phường Hiệp Phú, Quận 9, TP.HCM
                            .lh
                                em.mdi.mdi-phone
                                p.sdt 0286 275 8333
                        li 
                            h4 cơ sở 2
                            .lh
                                em.mdi.mdi-map-marker
                                p 707 Kha Vạn Cân, Phường Linh Tây, Quận 9, TP.HCM
                            .lh
                                em.mdi.mdi-phone
                                p.sdt 0282 246 8333
                        li 
                            img(src="./img/dangky.png", alt="")

                .col-md-3
                    nav.social
                        h3.h3 kết nối với chúng tôi
                        .list-icon
                            li
                                a(href="") facebook
                                    img(src="./img/fb.png", alt="")
                                    
                            li
                                a(href="") zalo
                                    img(src="./img/zalo.png", alt="")
                            li  
                                a(href="") youtube
                                    img(src="./img/yt.png", alt="")
    a(href="tel:02822468333").contact-button-wrapper
        .ic 
            em.mdi.mdi-phone-settings
    .copyright
        .container 
            p 2019 Bản quyền thuộc về Nha khoa Bảo Việt. Tất cả các quyền được bảo hộ.
                span 
                    a(href='https://www.canhcam.vn/thiet-ke-website-chuyen-nghiep' target='_blank') Thiết kế website
                    |  bởi
                    a(href='https://www.canhcam.vn' target='_blank')  Canh Cam