section.prize-section 
    .container 
        h1.title-h1 chứng nhận - giải thưởng
        .prize-wrapper
            .swiper-container 
                .swiper-wrapper 
                    .swiper-slide 
                        .img 
                            img(src="./img/giaithuong1.png", alt="")
                        .title 
                            p chứng nhận 1
                    .swiper-slide 
                        .img 
                            img(src="./img/giaithuong1.png", alt="")
                        .title 
                            p chứng nhận 1
                    .swiper-slide 
                        .img 
                            img(src="./img/giaithuong1.png", alt="")
                        .title 
                            p chứng nhận 1
                    .swiper-slide 
                        .img 
                            img(src="./img/giaithuong1.png", alt="")
                    .swiper-slide 
                        .img 
                            img(src="./img/giaithuong1.png", alt="")
                    .swiper-slide 
                        .img 
                            img(src="./img/giaithuong1.png", alt="")
                    .swiper-slide 
                        .img 
                            img(src="./img/giaithuong1.png", alt="")
                    .swiper-slide 
                        .img 
                            img(src="./img/giaithuong1.png", alt="")
            .prize-btn-next
                em.mdi.mdi-chevron-right
            .prize-btn-prev
                em.mdi.mdi-chevron-left
            