section.about-us-display
    .container
        .about-us-nav
            ul
                li.active
                    a(href="#1") tổng quan
                li
                    a(href="#b")  lịch sử hình thành
                li
                    a(href="#3") Tầm nhìn - sứ mệnh
                li
                    a(href="#4") cứng nhận - giải thưởng
                li
                    a(href="#") đội ngũ
                li
                    a(href="#") cơ sở vật chất
                li
                    a(href="#") đối tác 
                li
                    a(href="#") profile
