section.dichvu-lienhe 
    .container 
        .wrapper 
            .row 
                .col-lg-6
                    h2 thông tin liên hệ
                    .diachi
                        li
                            em.lnr.lnr-map-marker
                            .lh
                                h4 Cơ sở 1
                                p 20 – 22 Lê Văn Việt, Phường Hiệp Phú, Quận 9, TP.HCM
                        li
                            em.lnr.lnr-map-marker
                            .lh
                                h4 Cơ sở 2
                                p 20 – 22 Lê Văn Việt, Phường Hiệp Phú, Quận 9, TP.HCM
                        li
                            em.lnr.lnr-phone
                            .lh
                                h4 Hotline
                                p 028 2246 8333 
                        li
                            em.lnr.lnr-envelope
                            .lh
                                h4 Email
                                p info@nhakhoabaoviet.com.vn 
                        li
                            em.lnr.lnr-clock
                            .lh
                                h4 Giờ làm việc
                                p T2 - T7: 8h00 - 20h00 
                                p CN: 8h00 - 18h00
                    .button-wrapper 
                        a.button.button--1(href="") Đặt lịch khám
                        a.button.button--2(href="") Bảng báo giá
                .col-lg-6
                    .img 
                        img(src="./img/dichvu/lienhe.png", alt="")



