section.doi-ngu-section 
    .container 
        .row.banner 
            img(src="./img/doingu-banner.png", alt="")
        .row 
            .col-6.col-lg-4 
                .item 
                    .info.col-lg-3
                        a(href="").img
                            img(src="./img/khachhang.png", alt="")
                        p.title Triều Tiên
                        span Giáo viên
            .col-6.col-lg-4 
                .item 
                    .info.col-lg-3
                        a(href="").img
                            img(src="./img/khachhang.png", alt="")
                        p.title Triều Tiên
                        span Giáo viên
            .col-6.col-lg-4 
                .item 
                    .info.col-lg-3
                        a(href="").img
                            img(src="./img/khachhang.png", alt="")
                        p.title Triều Tiên
                        span Giáo viên
            .col-6.col-lg-4 
                .item 
                    .info.col-lg-3
                        a(href="").img
                            img(src="./img/khachhang.png", alt="")
                        p.title Triều Tiên
                        span Giáo viên
            .col-6.col-lg-4 
                .item 
                    .info.col-lg-3
                        a(href="").img
                            img(src="./img/khachhang.png", alt="")
                        p.title Triều Tiên
                        span Giáo viên
            .col-6.col-lg-4 
                .item 
                    .info.col-lg-3
                        a(href="").img
                            img(src="./img/khachhang.png", alt="")
                        p.title Triều Tiên
                        span Giáo viên
            