section.services-wrapper 
    .container 
        h1.title-h1 các dịch vụ niềng răng 
        .list-item 
            .row 
                .col-lg-4.item
                    figure
                        a.img(href="") 
                            img(src="./img/dichvu/1.png", alt="")
                        figcaption 
                            a.title(href="") Niềng răng mắc cài kim loại 
                .col-lg-4.item
                    figure
                        a.img(href="") 
                            img(src="./img/dichvu/2.png", alt="")
                        figcaption 
                            a.title(href="") Niềng răng mắc cài kim loại 
                .col-lg-4.item
                    figure
                        a.img(href="") 
                            img(src="./img/dichvu/3.png", alt="")
                        figcaption 
                            a.title(href="") Niềng răng mắc cài kim loại 
                .col-lg-4.item
                    figure
                        a.img(href="") 
                            img(src="./img/dichvu/4.png", alt="")
                        figcaption 
                            a.title(href="") Niềng răng mắc cài kim loại 
                .col-lg-4.item
                    figure
                        a.img(href="") 
                            img(src="./img/dichvu/5.png", alt="")
                        figcaption 
                            a.title(href="") Niềng răng mắc cài kim loại 
            