section.about-section#section1
    .row 
        .col-lg-6
            .swiper-container
                .swiper-wrapper 
                    .swiper-slide 
                        img(src="./img/gioithieu1.png", alt="")
                    .swiper-slide 
                        img(src="./img/gioithieu1.png", alt="")
                    .swiper-slide 
                        img(src="./img/gioithieu1.png", alt="")
                    .swiper-slide 
                        img(src="./img/gioithieu1.png", alt="")
                .about-btn-next 
                    em.mdi.mdi-chevron-right
                .about-btn-prev    
                    em.mdi.mdi-chevron-left
        .col-lg-6
            .content 
                h3 về chúng tôi 
                p Với mong muốn giúp mọi người tìm được một địa chỉ uy tín để điều trị các vấn đề về răng miệng cũng như tiếp cận các công nghệ nha khoa thẩm mỹ hiện đại với mức giá hợp lý, đồng thời đáp ứng nhu cầu ngày càng tăng của khách hàng, Trung tâm Nha khoa Bảo Việt dental kể từ khi thành lập đến này đã liên tục mở rộng quy mô và nâng cấp trang thiết bị máy móc, công nghệ tiên tiến và liên tục trao đổi kinh nghiệm, chuyển giao công nghệ từ các bệnh viện răng hàm mặt lớn… nhằm mong muốn mang đến kết quả tốt nhất cho khách hàng.

    

