section.tuyen-dung-td-2 
    .container 
        h1.title-h1 quy trình tuyển dụng
        .row 
            .col-6.col-lg-3 
                .item 
                    figure 
                        .img 
                            img(src="./img/icon-tuyendung1.png", alt="")
                        figcaption 
                            a(href="").title
                                h3 Ứng tuyển 
                            .content 
                                p Ứng viên lựa chọn nghề nghiệp phù hợp 
                            span.stt 01
            .col-6.col-lg-3 
                .item 
                    figure 
                        .img 
                            img(src="./img/icon-tuyendung2.png", alt="")
                        figcaption 
                            a(href="").title
                                h3 Ứng tuyển 
                            .content 
                                p Ứng viên lựa chọn nghề nghiệp phù hợp 
                            span.stt 02
            .col-6.col-lg-3 
                .item 
                    figure 
                        .img 
                            img(src="./img/icon-tuyendung3.png", alt="")
                        figcaption 
                            a(href="").title
                                h3 Ứng tuyển 
                            .content 
                                p Các ứng viên được lựa chọn qua vòng phỏng vấn sẽ được hẹn tiếp một buổi để thỏa thuận về hợp đồng
                            span.stt 03
            .col-6.col-lg-3 
                .item 
                    figure 
                        .img 
                            img(src="./img/icon-tuyendung4.png", alt="")
                        figcaption 
                            a(href="").title
                                h3 Ứng tuyển 
                            .content 
                                p Ứng viên lựa chọn nghề nghiệp phù hợp 
                            span.stt 04
            

