section.tin-tuc 
    .container 
        h1.title-h1 tin tức - sự kiện
        .tin-tuc-wrapper 
            .row
                .col-lg-6.big-box
                    .item.item--big
                        figure
                            a.img(href="")
                                img(src="./img/tintuc/1.png", alt="")
                            figcaption 
                                a(href="").cate Tin tức - sự kiện 
                                a(href="").title 
                                    h3 Nha khoa Bảo Việt tại Sao vàng Doanh nhân Đất Việt
                                p Ngày 11/08 vừa qua, tại nhà hát Bến Thành, Chủ tịch HĐQT Công ty Nha Khoa Bảo Việt – Ông Trần Minh Bảo đã vinh dự là một trong số ít các doanh nhân nhận giải thưởng “Sao vàng Doanh nhân Đất Việt”. Đây là giải thưởng nằm trong khuôn khổ chương trình Truyền thống, khảo sát và tôn vinh “Sao vàng Doanh nhân Đất Việt - Thương hiệu, nhãn hiệu tin dùng và Sản phẩm, dịch vụ chất lượng cao” năm 2019. Được truyền hình trực tiếp trên kênh HTV1 - Đài truyền hình TP.HCM.
                                time 18.03.2019
                .col-lg-6.small-box 
                    .row
                        .col-md-6.item.item--small 
                            figure
                                a.img(href="")
                                    img(src="./img/tintuc/2.png", alt="")
                                figcaption 
                                    a(href="").cate Tin tức - sự kiện 
                                    a(href="").title 
                                        h3 Nha khoa Bảo Việt tại Sao vàng Doanh nhân Đất Việt
                                    time 18.03.2019
                        .col-md-6.item.item--small 
                            figure
                                a.img(href="")
                                    img(src="./img/tintuc/3.png", alt="")
                                figcaption 
                                    a(href="").cate Tin tức - sự kiện 
                                    a(href="").title 
                                        h3 Nha khoa Bảo Việt tại Sao vàng Doanh nhân Đất Việt
                                    time 18.03.2019
                        .col-md-6.item.item--small 
                            figure
                                a.img(href="")
                                    img(src="./img/tintuc/4.png", alt="")
                                figcaption 
                                    a(href="").cate Tin tức - sự kiện 
                                    a(href="").title 
                                        h3 Nha khoa Bảo Việt tại Sao vàng Doanh nhân Đất Việt
                                    time 18.03.2019
                        .col-md-6.item.item--small 
                            figure
                                a.img(href="")
                                    img(src="./img/tintuc/1.png", alt="")
                                figcaption 
                                    a(href="").cate Tin tức - sự kiện 
                                    a(href="").title 
                                        h3 Nha khoa Bảo Việt tại Sao vàng Doanh nhân Đất Việt
                                    time 18.03.2019
            .list-item
                .row 
                    .col-lg-4.item
                        figure
                            a.img(href="")
                                img(src="./img/tintuc/1.png", alt="")
                            figcaption 
                                a(href="").cate Tin tức - sự kiện 
                                a(href="").title 
                                    h3 Nha khoa Bảo Việt tại Sao vàng Doanh nhân Đất Việt
                                p Ngày 11/08 vừa qua, tại nhà hát Bến Thành, Chủ tịch HĐQT Công ty Nha Khoa Bảo Việt – Ông Trần Minh Bảo đã vinh dự là một trong số ít các doanh nhân nhận giải thưởng “Sao vàng Doanh nhân Đất Việt”. Đây là giải thưởng nằm trong khuôn khổ chương trình Truyền thống, khảo sát và tôn vinh “Sao vàng Doanh nhân Đất Việt - Thương hiệu, nhãn hiệu tin dùng và Sản phẩm, dịch vụ chất lượng cao” năm 2019. Được truyền hình trực tiếp trên kênh HTV1 - Đài truyền hình TP.HCM.
                                time 18.03.2019
                    .col-lg-4.item
                        figure
                            a.img(href="")
                                img(src="./img/tintuc/1.png", alt="")
                            figcaption 
                                a(href="").cate Tin tức - sự kiện 
                                a(href="").title 
                                    h3 Nha khoa Bảo Việt tại Sao vàng Doanh nhân Đất Việt
                                p Ngày 11/08 vừa qua, tại nhà hát Bến Thành, Chủ tịch HĐQT Công ty Nha Khoa Bảo Việt – Ông Trần Minh Bảo đã vinh dự là một trong số ít các doanh nhân nhận giải thưởng “Sao vàng Doanh nhân Đất Việt”. Đây là giải thưởng nằm trong khuôn khổ chương trình Truyền thống, khảo sát và tôn vinh “Sao vàng Doanh nhân Đất Việt - Thương hiệu, nhãn hiệu tin dùng và Sản phẩm, dịch vụ chất lượng cao” năm 2019. Được truyền hình trực tiếp trên kênh HTV1 - Đài truyền hình TP.HCM.
                                time 18.03.2019
                    .col-lg-4.item
                        figure
                            a.img(href="")
                                img(src="./img/tintuc/1.png", alt="")
                            figcaption 
                                a(href="").cate Tin tức - sự kiện 
                                a(href="").title 
                                    h3 Nha khoa Bảo Việt tại Sao vàng Doanh nhân Đất Việt
                                p Ngày 11/08 vừa qua, tại nhà hát Bến Thành, Chủ tịch HĐQT Công ty Nha Khoa Bảo Việt – Ông Trần Minh Bảo đã vinh dự là một trong số ít các doanh nhân nhận giải thưởng “Sao vàng Doanh nhân Đất Việt”. Đây là giải thưởng nằm trong khuôn khổ chương trình Truyền thống, khảo sát và tôn vinh “Sao vàng Doanh nhân Đất Việt - Thương hiệu, nhãn hiệu tin dùng và Sản phẩm, dịch vụ chất lượng cao” năm 2019. Được truyền hình trực tiếp trên kênh HTV1 - Đài truyền hình TP.HCM.
                                time 18.03.2019
                    



